In [3]:
# Import Dependencies #
#---------------------#

import yfinance as yf

import pandas as pd
import numpy as np

In [30]:
# Configure the ETFs to pull #
#----------------------------#

ETF_NASDAQ_UCITS = [
    'EQQQ.L', # NASDAQ100
    'LQQ.PA', # 2x NASDAQ100
    'QQQ3.L' # 3x NASDAQ100
]

ETF_FTSE_UCITS = [
    '^FTSE', 
    'ISF.L', # 1x FTSE 
    'LUK2.L', # 2x FTSE
    '3UKL.L' # 3x FTSE
]

In [31]:
dfFTSERaw = yf.Tickers(ETF_FTSE_UCITS).history(period='10y')

dfFTSERaw

[*********************100%%**********************]  4 of 4 completed

           Capital Gains           Close                                    \
                   ISF.L LUK2.L   3UKL.L       ISF.L   LUK2.L        ^FTSE
Date
2013-12-30           0.0    0.0  15409.0  666.602417  22457.5  6731.299805
2013-12-31           0.0    0.0  15540.0  664.410950  22485.5  6749.100098
2014-01-02           0.0    0.0  15400.0  664.610229  22301.0  6717.899902
2014-01-03           0.0    0.0  15311.0  665.307373  22323.0  6730.700195
2014-01-06           0.0    0.0  15396.0  666.004639  22352.0  6730.700195
...                  ...    ...      ...         ...      ...          ...
2023-12-21           0.0    0.0  21171.5  749.299988  35017.5  7694.700195
2023-12-22           0.0    0.0  21247.5  750.000000  35107.5  7697.500000
2023-12-27           0.0    0.0  21447.5  752.200012  35302.5  7725.000000
2023-12-28           0.0    0.0  21414.0  751.900024  35282.5  7722.700195
2023-12-29           0.0    0.0  21481.0  753.099976  35342.5  7733.200195

           Dividends                     ...     Open               \
              3UKL.L ISF.L LUK2.L ^FTSE  ...   LUK2.L        ^FTSE
Date                                     ...
2013-12-30       0.0   0.0    0.0   0.0  ...  22470.0  6750.899902
2013-12-31       0.0   0.0    0.0   0.0  ...  22489.0  6731.299805
2014-01-02       0.0   0.0    0.0   0.0  ...  22440.0  6749.100098
2014-01-03       0.0   0.0    0.0   0.0  ...  22312.0  6717.899902
2014-01-06       0.0   0.0    0.0   0.0  ...  22365.0  6730.700195
...              ...   ...    ...   ...  ...      ...          ...
2023-12-21       0.0   0.0    0.0   0.0  ...  35010.0  7715.700195
2023-12-22       0.0   0.0    0.0   0.0  ...  35115.0  7694.700195
2023-12-27       0.0   0.0    0.0   0.0  ...  35265.0  7697.500000
2023-12-28       0.0   0.0    0.0   0.0  ...  35195.0  7725.000000
2023-12-29       0.0   0.0    0.0   0.0  ...  35275.0  7722.700195

           Stock Splits                    Volume
                 3UKL.L ISF.L LUK2.L ^FTSE 3UKL.L    ISF.L LUK2.L        ^FTSE
Date
2013-12-30          0.0   0.0    0.0   0.0    534  2498452   5998  295360600.0
2013-12-31          0.0   0.0    0.0   0.0    201  2454499   6716  153445200.0
2014-01-02          0.0   0.0    0.0   0.0    763  4452494   8006  459529100.0
2014-01-03          0.0   0.0    0.0   0.0     35  2185355   2567  374841500.0
2014-01-06          0.0   0.0    0.0   0.0    109  4312444   7466  524387000.0
...                 ...   ...    ...   ...    ...      ...    ...          ...
2023-12-21          0.0   0.0    0.0   0.0   8028  2914459   4658  603350200.0
2023-12-22          0.0   0.0    0.0   0.0    688  2511040   1005  329604400.0
2023-12-27          0.0   0.0    0.0   0.0    420  2040865   3979  432594200.0
2023-12-28          0.0   0.0    0.0   0.0    234  4989178   3919  327536200.0
2023-12-29          0.0   0.0    0.0   0.0    399  3113619   2185  235460600.0

[2527 rows x 30 columns]

In [35]:
dfFTSE = dfFTSERaw.melt(ignore_index=False)
dfFTSE.columns = ['metric', 'ticker', 'value']

%cd /Users/ludwigjonsson/Documents/contabo/equity2/dashboard/playground/misc/
dfFTSE.to_csv('ftse.csv')

/Users/ludwigjonsson/Documents/contabo/equity2/dashboard/playground/misc

/Users/ludwigjonsson/Documents/contabo/equity2/.venv/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]